@page "/addvolunteer"
@inject IEventPriority m_eventPriority

<head>
    <link href="css/site.css" rel="stylesheet" />
</head>

<h1 class="mat" style="text-align:center">Add volunteer</h1>

<div class="box containter">
    <div class="centerContainer">
        <MatTextField @bind-Value="@VolunteerName" @oninput="@((e) => { VolunteerName = (string)e.Value; })" Label=" Volunteer Name" Outlined="false" Class="element"></MatTextField>
        <MatTextField @bind-Value="@VolunteerSurname" @oninput="@((e) => { VolunteerSurname = (string)e.Value; })" Label=" Volunteer Surname" Outlined="false" Class="element"></MatTextField>
        <MatButton Raised="true" class="btn btn-primary element" @onclick="AddVolunteerToDB">Add volunteer</MatButton>
    </div>
</div>

<MatAccordion Multi="true">
    <MatExpansionPanel @bind-Expanded="@panelOpenState1">
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Charity events that this volunteer is working on</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatList>
                @if (GetEventsOfThisVolunteer() != null)
                {
                    @foreach (var charityEvent in GetEventsOfThisVolunteer())
                    {
                    <MatListItem style=" display: inline-block; width: 100%;">
                        <div style="float:left; margin: 0">
                            @charityEvent.Name
                        </div>
                        <div style="float:right">
                            <MatButton Outlined="true" class="btn btn-primary" @onclick="() => RemoveEventFromList(charityEvent.Id)">Remove</MatButton>
                        </div>
                    </MatListItem>
                    }
                }
            </MatList>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel @bind-Expanded="@panelOpenState2">
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Charity events that this volunteer could be a part of:</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatList TwoLine="true">
                @foreach (var charityEvent in m_eventPriority.GetHighPriorityEvents(CurrentUserId))
                {
                    @if (listOfCharityEvents == null || !listOfCharityEvents.Contains(charityEvent))
                    {
                    <MatListItem style=" display: inline-block; width: 100%;">
                        <MatListItemPrimaryText>
                            <div style="float:left; margin: 0">
                                @charityEvent.Name
                            </div>
                            <div style="float:right">
                                <MatButton Outlined="true" class="btn btn-primary" @onclick="() => AddEventToVolunteerList(charityEvent.Id)">Add</MatButton>
                            </div>
                        </MatListItemPrimaryText>
                        <MatListItemSecondaryText Style="color:darkgoldenrod">High priority</MatListItemSecondaryText>
                    </MatListItem>
                    <MatListDivider></MatListDivider>
                    }
                }
                @foreach (var charityEvent in m_eventPriority.GetRestOfEvents(CurrentUserId))
                {
                    @if (listOfCharityEvents == null || !listOfCharityEvents.Contains(charityEvent))
                    {
                    <MatListItem style=" display: inline-block; width: 100%;">
                        <MatListItemPrimaryText>
                            <div style="float:left; margin: 0">
                                @charityEvent.Name
                            </div>
                            <div style="float:right">
                                <MatButton Outlined="true" class="btn btn-primary" @onclick="() => AddEventToVolunteerList(charityEvent.Id)">Add</MatButton>
                            </div>
                        </MatListItemPrimaryText>
                        <MatListItemSecondaryText Style="color:darkcyan">Low priority</MatListItemSecondaryText>
                    </MatListItem>
                    <MatListDivider></MatListDivider>
                    }
                }
            </MatList>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>
