@page "/editcharityevent/{Id:guid}"
@using Karma.Models
@using Karma.Data
@using Z.EntityFramework.Plus;
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims
@inject IJSRuntime m_jsRuntime
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@using System.Text.RegularExpressions;

@if (m_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    if (CharityEvent.ManagerId == CurrentUserId)
    {
        <h1>Edit charity event</h1>

        <label for="fname">Event title:</label>
        <input type="text" @bind="@CharityEvent.Name" @oninput="@((e) => { CharityEvent.Name = (string)e.Value; })" />
        <br>
        <br>
        <label for="fname">Event description:</label>
        <input type="" @bind="@CharityEvent.Description" @oninput="@((a) => { CharityEvent.Description = (string)a.Value; })" />
        <br>
        <br>
        <label for="fname">Maximum number of volunteers in this project:</label>
        <input type="number" min="0" max="1000000" @bind="@CharityEvent.MaxVolunteers" />
        @if (CharityEvent.MaxVolunteers < 0)
        {
            <p>
                Illegal volunteer count, please choose a positive number.
            </p>
        }
        else
        {
            <br>
        }
        @if (CharityEvent.MaxVolunteers < CharityEvent.Volunteers.Count)
        {
            <p>
                Illegal volunteer count, please choose a value grater than currently assigned volunteeer count or reduce the number of volunteers in this event.
            </p>
        }
        else
        {
            <br>
        }
        @if (CharityEvent.MaxVolunteers < 0 || CharityEvent.MaxVolunteers < CharityEvent.Volunteers.Count)
        {
            <button class="btn btn-primary" disabled="disabled">Update event</button>
        }
        else
        {
            <button class="btn btn-primary" @onclick="UpdateEvent">Update event</button>
        }
        <button class="btn btn-primary" @onclick="DeleteEvent">Delete event</button>
        <br>
        <br>
        <h5>Filter volunteers: </h5>
        <input @bind-value="FilterValue" @bind-value:event="oninput" />
        <tbody>
            <tr>
                <th>Volunteers that are working on this event</th>
            </tr>
            <tr>
                @foreach (var volunteer in GetVolunteersInThisEvent())
                {
                    nameSurname = volunteer.Name + " " + volunteer.Surname;
                    surnameName = volunteer.Surname + " " + volunteer.Name;
                    var regex = new Regex($"(.*){FilterValue}(.*)", RegexOptions.Compiled | RegexOptions.IgnoreCase);
                    var matches = regex.Matches(nameSurname + surnameName);
                    @if (matches.Count > 0)
                    {
                        <li>
                            @volunteer.Name
                            @volunteer.Surname
                            <div align="left">
                                <button class="btn btn-primary" @onclick="() => RemoveVolunteerFromEvent(volunteer.Id)">Remove</button>
                            </div>
                        </li>
                    }
                }
            </tr>
        </tbody>
        <br>
        <br>
        <tbody>
            <tr>
                <th>Volunteers that could be added to this event</th>
                <th></th>
            </tr>
            <tr>
                @foreach (var volunteer in GetVolunteersNotInThisEvent())
                {
                    var regex = new Regex($"(.*){FilterValue}(.*)", RegexOptions.Compiled | RegexOptions.IgnoreCase);
                    var matches = regex.Matches(volunteer.Name + volunteer.Surname);
                    @if (matches.Count > 0)
                    {
                        <li>
                            @volunteer.Name
                            @volunteer.Surname
                            <div align="left">
                                @if (CharityEvent.MaxVolunteers < 0 || CharityEvent.MaxVolunteers <= CharityEvent.Volunteers.Count)
                                {
                                    <button class="btn btn-primary" disabled="disabled">Add</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary" @onclick="() => AddVolunteerToEvent(volunteer.Id)">Add</button>
                                }
                            </div>
                        </li>
                    }
                }
            </tr>
        </tbody>
    }
    else
    {
        <h1>Cannot access this event</h1>
    }
}

@code
{
    [Parameter]
    public Guid Id { get; set; }
    KarmaContext KarmaContext = new KarmaContext();
    public CharityEvent CharityEvent;
    private string FilterValue { get; set; } = "";
    private String nameSurname { get; set; } = "";
    private String surnameName { get; set; } = "";

    string CurrentUserId { get; set; }

    private async Task UpdateEvent()
    {
        KarmaContext.Events.Update(CharityEvent);
        KarmaContext.SaveChanges();
        m_uriHelper.NavigateTo("");
        await m_jsRuntime.InvokeVoidAsync("alert", "The event has been updated");
    }

    private async Task DeleteEvent()
    {
        KarmaContext.Events.Where(x => x.Id == Id).Delete();
        KarmaContext.SaveChanges();
        m_uriHelper.NavigateTo("");
        await m_jsRuntime.InvokeVoidAsync("alert", "The event has been deleted");
    }

    protected override void OnInitialized()
    {
        CharityEvent = KarmaContext.Events.Include(p => p.Volunteers).Where(p => p.Id == Id).FirstOrDefault();
        var principal = m_httpContextAccessor.HttpContext.User;
        CurrentUserId = principal.FindFirstValue(ClaimTypes.NameIdentifier);
    }

    public IEnumerable<IVolunteer> GetVolunteersInThisEvent()
    {
        return KarmaContext.Events.Include(p => p.Volunteers).Where(p => p.Id == Id).Select(p => p.Volunteers).SelectMany(p => p);
    }

    public IEnumerable<IVolunteer> GetVolunteersNotInThisEvent()
    {
        return KarmaContext.Volunteers.Include(p => p.Events).Where(p => !p.Events.Contains(CharityEvent));
    }

    private void AddVolunteerToEvent(Guid id)
    {
        CharityEvent.Volunteers.Add(KarmaContext.Volunteers.Where(p => p.Id == id).FirstOrDefault());
        KarmaContext.SaveChanges();
    }

    private void RemoveVolunteerFromEvent(Guid id)
    {
        CharityEvent.Volunteers.Remove(KarmaContext.Volunteers.Where(p => p.Id == id).FirstOrDefault());
        KarmaContext.SaveChanges();
    }
}
