@page "/manageuserevents"
@using System.Text.RegularExpressions;

<head>
    <link href="css/site.css" rel="stylesheet" />
</head>

<style>
    html {
        overflow-y: scroll;
    }
</style>

<h1 class="mat">Karma</h1>

<p class"mat">Ready to aquire karma points by helping out others?</p>
<MatSelect Label="Page size" ValueChanged="async(int a) => await Refresh(a)">
    <MatOption TValue="int" Value="10"></MatOption>
    <MatOption TValue="int" Value="10">10</MatOption>
    <MatOption TValue="int" Value="15">15</MatOption>
    <MatOption TValue="int" Value="20">20</MatOption>
</MatSelect>
<Pagination TotaPagesQuantity="m_totalPageQuantity" CurrentPage="m_currentPage" Radius="2" SelectedPage="SelectedPage"></Pagination>

<MatTextField @bind-Value="@filterValue" OnInput="@(e => filterValue = e.Value.ToString())" Label="Search Events" Icon="search" IconTrailing="true"></MatTextField>

<div class="card-deck">
    @foreach (var karmaEvent in karmaEvents)
    {
        var regex = new Regex($"(.*){filterValue}(.*)", RegexOptions.Compiled | RegexOptions.IgnoreCase);
        var matches = regex.Matches(karmaEvent.Name + karmaEvent.Description + karmaEvent.Id.ToString());
        @if (matches.Count > 0)
        {
            <MatCard class="demo-mat-card mx-3">
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin" style="float:left" @onclick="()=>NavigateToIndividualEvent(karmaEvent.Id)">
                        @karmaEvent.Name
                    </MatHeadline6>
                    <MatCardActionIcons style="float:right">
                        <MatIconButton Icon="@MatIconNames.More_vert" @onclick="()=>NavigateToEditEvent(karmaEvent.Id)"></MatIconButton>
                    </MatCardActionIcons>
                </div>
                <MatCardContent @onclick="()=>NavigateToIndividualEvent(karmaEvent.Id)">
                    <MatCardMedia Wide="true" ImageUrl=@karmaEvent.PhotoPath></MatCardMedia>
                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                        @karmaEvent.Description
                    </MatBody2>
                </MatCardContent>
            </MatCard>
        }
    }
</div>
