@page "/volunteer/{Id:guid}"
@using System.Text.RegularExpressions;

<head>
    <link href="css/site.css" rel="stylesheet" />
</head>

@if (volunteer != null)
{
    <h1 class="mat">Manage volunteer</h1>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-5">
                <MatTextField @bind-Value="@volunteer.Name" @oninput="@((e) => { volunteer.Name = (string)e.Value; })" Label="Volunteer Name" Outlined="true" Class="element" Style=""></MatTextField>
                <MatTextField @bind-Value="@volunteer.Surname" @oninput="@((e) => { volunteer.Surname = (string)e.Value; })" Label="Volunteer Surname" Outlined="true" Class="element"></MatTextField>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-5">
                <MatTextField @bind-Value="@EquipmentName" @oninput="@((e) => { EquipmentName = (string)e.Value; })" Label="Name of new equipment" Outlined="true" Class="element"></MatTextField>
                <MatButton Raised="true" class="btn btn-primary element" @onclick="AddNewEquipmentToVolunteer">Add this equipment</MatButton>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2 mat-layout-grid-cell-align-middle">
                <MatButton Raised="true" class="btn btn-primary element" @onclick="UpdateVolunteerData">Update volunteer data</MatButton>
            </div>
        </div>
    </div>
    <MatTextField @bind-Value="@FilterValue" OnInput="@(e => FilterValue = e.Value.ToString())" Label="Search Charity Events" Icon="search" IconTrailing="true"></MatTextField>
    <MatAccordion Multi="true">
        <MatExpansionPanel @bind-Expanded="@panelOpenState1">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Charity events that this volunteer is working on</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <MatList>
                    @foreach (var charityEvent in GetEventsOfThisVolunteer())
                    {
                        var regex = new Regex($"(.*){FilterValue}(.*)", RegexOptions.Compiled | RegexOptions.IgnoreCase);
                        var matches = regex.Matches(charityEvent.Name + charityEvent.Description);
                        @if (matches.Count > 0)
                        {
                            <MatListItem style=" display: inline-block; width: 100%;">
                                <div style="float:left">
                                    @charityEvent.Name
                                </div>
                                <div style="float:right">
                                    @if (charityEvent.ManagerId == CurrentUserId)
                                    {
                                        <MatButton Outlined="true" class="btn btn-primary" @onclick="() => RemoveEventFromList(charityEvent.Id)">Remove</MatButton>
                                    }
                                </div>
                            </MatListItem>
                        }
                    }
                </MatList>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>

        <MatExpansionPanel @bind-Expanded="@panelOpenState2">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Charity events that this volunteer could be a part of</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <MatList TwoLine="true">
                    @foreach (var charityEvent in GetHighPriorityEvents())
                    {
                        var regex = new Regex($"(.*){FilterValue}(.*)", RegexOptions.Compiled | RegexOptions.IgnoreCase);
                        var matches = regex.Matches(charityEvent.Name + charityEvent.Description);
                        @if (matches.Count > 0)
                        {
                            <MatListItem style=" display: inline-block; width: 100%;">
                                <MatListItemPrimaryText>
                                    <div style="float:left">
                                        @charityEvent.Name
                                    </div>
                                    <div style="float:right">
                                        <MatButton Outlined="true" class="btn btn-primary" @onclick="() => AddEventToVolunteerList(charityEvent.Id)">Add</MatButton>
                                    </div>
                                </MatListItemPrimaryText>
                                <MatListItemSecondaryText Style="color:darkgoldenrod">High priority</MatListItemSecondaryText>
                            </MatListItem>
                            <MatListDivider></MatListDivider>
                        }
                    }
                    @foreach (var charityEvent in GetRestOfEvents())
                    {
                        var regex = new Regex($"(.*){FilterValue}(.*)", RegexOptions.Compiled | RegexOptions.IgnoreCase);
                        var matches = regex.Matches(charityEvent.Name + charityEvent.Description);
                        @if (matches.Count > 0)
                        {
                            <MatListItem style=" display: inline-block; width: 100%;">
                                <MatListItemPrimaryText>
                                    <div style="float:left">
                                        @charityEvent.Name
                                    </div>
                                    <div style="float:right">
                                        <MatButton Outlined="true" class="btn btn-primary" @onclick="() => AddEventToVolunteerList(charityEvent.Id)">Add</MatButton>
                                    </div>
                                </MatListItemPrimaryText>
                                <MatListItemSecondaryText Style="color:darkcyan">Low priority</MatListItemSecondaryText>
                            </MatListItem>
                            <MatListDivider></MatListDivider>
                        }
                    }
                </MatList>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>

        <MatExpansionPanel @bind-Expanded="@panelOpenState3">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Equipment that this volunteer has brought</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <MatList>
                    @foreach (var equipment in GetEquipmentOfThisVolunteer())
                    {
                        <MatListItem style=" display: inline-block; width: 100%;">
                            <div style="float:left">
                                @equipment.Name
                            </div>
                            <div style="float:right">
                                <MatButton Outlined="true" class="btn btn-primary" @onclick="() => RemoveEquipment(equipment.Id)">Remove</MatButton>
                            </div>
                        </MatListItem>
                    }
                </MatList>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    </MatAccordion>
}
else
{
    <h1 class="mat">Sorry, but this volunteer was not found</h1>
}
