@page "/event/{Id:guid}"
@using System.Linq
@using Karma.Models
@using Microsoft.EntityFrameworkCore;

@if (m_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    @if (charityEvent != null)
    {
        <h1>@charityEvent.Name</h1>

        <h2>@charityEvent.Description</h2>

        <h3>@charityEvent.State.ToString()</h3>

        <ol>
            @foreach (var volunteer in GetVolunteers())
            {
                <li>@volunteer.Name @volunteer.Surname </li>
            }
        </ol>

        <button class="btn btn-primary" @onclick="NavigateToEditEvent">Update event</button>
    }
    else
    {
        <h1>Sorry,but this event was not found</h1>
    }
}
else
{
    <label for="fname">Please LogIn</label>
}

@code
{
    [Parameter]
    public Guid Id { get; set; }
    private CharityEvent charityEvent;
    KarmaContext KarmaContext = new KarmaContext();

    protected override void OnInitialized()
    {
        charityEvent = KarmaContext.Events.Where(p => p.Id == Id).FirstOrDefault();
    }

    public void NavigateToEditEvent()
    {
        m_uriHelper.NavigateTo($"editcharityevent/{Id}");
    }

    public IEnumerable<VolunteerNameSurname> GetVolunteers()
    {
        return KarmaContext.Events.Include(p => p.Volunteers).Where(p => p.Id == Id).Select(p => p.Volunteers).SelectMany(p =>p).Select(p=>(VolunteerNameSurname)p);
    }
}
