@page "/event/{Id:guid}"
@using MudBlazor

<head>
    <link href="css/site.css" rel="stylesheet" />
</head>

@if (charityEvent != null)
{
    <h1 class="mat">@charityEvent.Name</h1>
    <h2 class="mat">@charityEvent.Description</h2>
    <h3 class="mat">@charityEvent.State.ToString()</h3>
    <h3 class="mat">@charityEvent.Address</h3>
    <h3 class="mat">@weatherForecast</h3>
    <h3 class="mat-subtitle1">Participants @currentParticipants / @neededParticipants</h3>
    <MatProgressBar Progress=@participantsProgress></MatProgressBar>

    <div id="mapid" style="height: 500px; width: 500px; z-index: 0;"></div>

    if (CurrentUserId == charityEvent.ManagerId)
    {
        <MatButton Raised="true" class="btn btn-primary" @onclick="NavigateToEditEvent">Update event</MatButton>
    }
    <div class="container" style="overflow: auto;">
        <div style="float:left; width:40%">
            <p>Event volunteers:</p>
            <ol>
                @foreach (var volunteer in volunteers)
                {
                    <li>@volunteer</li>
                }
            </ol>
        </div>
        <div style="float:right; width:40%">
            <p>Event equipment:</p>
            <ol>
                @foreach (var equipment in equipment)
                {
                    <li>@equipment</li>
                }
            </ol>
        </div>
    </div>
    if (images.Count > 0)
    {
        <div class="container leftAlign">
            <h2 class="mat">charity event photos</h2>
            <MudCarousel Style="height:400px;width:400px" ShowArrows="true" ShowDelimiters="false" AutoCycle="true" TData="object">
                @foreach (var image in images)
                {
                    <MudCarouselItem Transition="Transition.Slide">
                        <img src=@image style="width:400px;height:400px">
                    </MudCarouselItem>
                }
            </MudCarousel>
        </div>
    }
}
else
{
    <h1 class="mat">Sorry,but this event was not found</h1>
}
